<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CuOnline_Portal.Properties.Settings.COMSATSConnectionString"
            connectionString="Data Source=DESKTOP-O5A4DC9\SQLEXPRESS;Initial Catalog=COMSATS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>